# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.GradeBook.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kamio90\Documents\Studia\Programowanie Obiektowe - lab\projekty\.idea\.idea.GradeBook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
